{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<!-- Contact Area Start -->
<section class="contact-our-area bg-gradient-overlay section-padding-100-0">
  <div class="container">
      <div class="row">
          <!-- Heading -->
          <div class="col-12">
              <div class="section-heading-2 text-center wow fadeInUp" data-wow-delay="300ms">
                  <p></p>
                  <h4>Login</h4>
              </div>
          </div>
      </div>

      <div class="row justify-content-between">
          

          <div class="col-12 col-sm-8">

              <!-- Contact Form -->

              
              <div class="contact_from_area mb-100 clearfix wow fadeInUp" data-wow-delay="300ms">
                  <div class="contact_form">
                    
                    <form action="{% url 'login' %}" method="post" id="main_contact_form">
                        {% if error is 1 %}
                                <p>Wrong login or password</p>
                        {% endif %}
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="col-12">
                            <button type="submit" class="btn confer-btn">Send Message <i class="zmdi zmdi-long-arrow-right"></i></button>
                        </div>
                    </form>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Contact Area End -->



{% endblock %}