{% load static %}

<!-- Header Area Start -->
<header class="header-area">
    <div class="classy-nav-container breakpoint-off">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="conferNav">

                <!-- Logo -->
                <a class="nav-brand" href="{% url 'home' %}"><img style="width: 170px;" src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">
                    <!-- Menu Close Button -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <!-- <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">- Home</a></li>
                                    <li><a href="about.html">- About Us</a></li>
                                    <li><a href="speakers.html">- Speakears</a></li>
                                    <li><a href="schedule.html">- Schedule</a></li>
                                    <li><a href="tickets.html">- Tickets</a></li>
                                    <li><a href="blog.html">- Blog</a></li>
                                    <li><a href="single-blog.html">- Single Blog</a></li>
                                    <li><a href="contact.html">- Contact</a></li>
                                    <li><a href="#">- Dropdown</a>
                                        <ul class="dropdown">
                                            <li><a href="#">- Dropdown Item</a></li>
                                            <li><a href="#">- Dropdown Item</a></li>
                                            <li><a href="#">- Dropdown Item</a></li>
                                            <li><a href="#">- Dropdown Item</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                            <li><a href="speakers.html">Speakears</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            {% if user.is_authenticated %}

                            <li><a href="contact.html">Hello {{user.username}}</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>

                        </ul>

                        
                        {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'signup' %}">Signup</a></li>

                        </ul>
                        {% endif %}
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- Header Area End -->